<%= f.collection_select :site_id, Site.all, :id, :name, :include_blank => true, :label => "Site" %>

<% if %w(new create).include?(@controller.action_name) %>
  <fieldset>
    <legend>or create a new Site</legend>
    <% f.fields_for(:site) do |s| %>
      <%= render :partial => "sites/form", :locals => { :f => s } %>
    <% end %>
  </fieldset>
<% end %>

<h2>Placements</h2>
<%= link_to_remote "Add New Placement", :url => { :action => "add_placement" } %>
<ul>
  <% f.fields_for(:placements) do |p| %>
  <li>
    <fieldset>
      <legend>
        <% if p.object.new_record? %>
        Create Placement
        <% else %>
        Update Placement
        <% end %>
      </legend>
      <%= render :partial => "placements/form", :locals => { :f => p } %>
    </fieldset>
  </li>
  <% end %>
</ul>

<script type="text/javascript" charset="utf-8">
  var placements_index = <%= f.object.placements.size %>;
</script>