<h1>Create a new Buy</h1>

<% form_for(@buy, :builder => LabeledBuilder) do |f| %>
  <%= f.error_messages %>
  
  <%= f.collection_select :site_id, Site.all, :id, :name, :include_blank => true, :label => "Site" %>

  or create a new Site  
  <% f.fields_for(:site) do |s| %>
    <%= render :partial => "sites/form", :locals => { :f => s } %>
  <% end %>
  
  Create a new Placement
  <% f.fields_for(:placement) do |p| %>
    <%= render :partial => "placements/form", :locals => { :f => p } %>
  <% end %>
  
  <%= submit_tag "Create" %>
<% end %>