<h2>Plans</h2>
<ul>
  <li><%= link_to "New Plan", new_plan_path %></li>
  <li><%= link_to "View Plans", plans_path %></li>
</ul>

<h2>Buys</h2>
<ul>
  <li><%= link_to "New Buy", new_buy_path %></li>
</ul>

<h2>Placements</h2>
<ul>
  <li><%= link_to "New Placement", new_placement_path %></li>
</ul>

<h2>Sites</h2>
<ul>
  <li><%= link_to "New Site", new_site_path %></li>
  <li><%= link_to "View Sites", sites_path %></li>
</ul>